body {
    background-color: #1c1c1c;
    font-family: Arial, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #2e2e2e;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container h1 {
    text-align: center;
    color: #d1c4e9;
}

.perfil img {
    width: 150px; /* Definir tamanho fixo para a imagem de perfil */
    height: 150px;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
}

.perfil h1, .perfil p {
    text-align: center;
    color: #fff;
}

.Imgs_Perfil {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.Imgs_Perfil img {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 5px;
    object-fit: cover;
}

.Adicionar_Img {
    margin-top: 30px;
    text-align: center;
}

.Adicionar_Img h1 {
    color: #d1c4e9;
    margin-bottom: 20px;
}

.Adicionar_Img form {
    display: inline-block;
    width: 100%;
}

.Adicionar_Img form input[type="file"] {
    margin-bottom: 10px;
}

.Adicionar_Img form button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #7e57c2;
    border-radius: 5px;
    background-color: #7e57c2;
    color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.Adicionar_Img form button:hover {
    background-color: #5e35b1;
}

.container a {
    text-decoration: none;
    color: #fff;
    background-color: #7e57c2;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    display: block;
    transition: background-color 0.3s;
}

.container a:hover {
    background-color: #5e35b1;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
    font-size: 1rem;
}

.alert-success {
    color: #d1c4e9;
    background-color: #4a148c;
    border: 1px solid #7e57c2;
}

.alert-error {
    color: #f8bbd0;
    background-color: #880e4f;
    border: 1px solid #c2185b;
}
